.alert {
	border-radius: 0px;
	font-weight: 700;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .25);
	h4 {
		p {
			margin: 0;
			font-size: 1rem;
			display: inline;
		}
	}
	ul,
	.fa {
		font-weight: normal;
	}
	ul {
		font-size: 14px;
		list-style: none;
		padding: 0;
		margin-top: 10px;
		li {
			margin-bottom: 5px;
			p {
				margin: 0;
			}
		}
	}
	.fa {
		font-size: 1.25rem;
		margin-right: 10px;
	}
}

.alert-danger,
.alert-error {
	border-color: #D73925;
	border-top-color: $gray;
	border-right-color: $gray;
	border-bottom-color: $gray;
	border-left-width: 4px;
	border-top-width: 1px;
	border-bottom-width: 1px;
}

.alert-danger {
	color: #dd4b39;
	background-color: $white;
}

.alert-success {
	color: #00a65a !important;
	background-color: $white;
	border-color: #008d4c;
	border-top-color: $gray;
	border-right-color: $gray;
	border-bottom-color: $gray;
	border-left-width: 4px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	.alert-heading {
		margin-bottom: 0;
	}
}