/**
 * Remove focus dotted
 */

a:active,
a:focus {
	outline: none;
}

a {
	transition: all $transition ease;
	&:hover,
	&:focus,
	&:active {
		text-decoration: none;
	}
}

.btn-link {
	color: $red-light;
	&:hover,
	&:active,
	&:focus {
		color: $red;
		text-decoration: none;
		&.disabled {
			color: $gray-middle;
		}
	}
}

.btn-link-black {
	color: $gray-dark;
	&:hover,
	&:active,
	&:focus {
		color: $black;
		text-decoration: none;
		&.disabled {
			color: $gray-middle;
		}
	}
}

.btn-link-gray {
	color: $gray-middle2;
	&:hover,
	&:active,
	&:focus {
		color: $gray-dark;
		text-decoration: none;
		&.disabled {
			color: $gray-middle;
		}
	}
}

.btn-link-green {
	color: $green;
	&:hover,
	&:active,
	&:focus {
		color: $green-light;
		text-decoration: none;
		&.disabled {
			color: $gray-middle;
		}
	}
}